<div class="container-wrapper">
  <h1>{{employee.title}} {{employee.firstName}} {{employee.surname}}</h1>
  <div class="container-fluid">
    <h3>Annual Income Tax paid: £{{annualIncomeTax}}</h3>
    <table class="table-container">
        <tr class="table-row">
          <th>Yearly</th>
          <th>Monthly</th>
          <th>Weekly</th>
          <th>Daily</th>
        </tr>
        <tr class="table-row">
          <th>£{{annualIncomeTax}}</th>
          <th>£{{monthlyIncomeTax}}</th>
          <th>£{{weeklyIncomeTax}}</th>
          <th>£{{dailyIncomeTax}}</th>  
        </tr>
      </table>
  </div>
</div>